{% extends 'layout.html' %}
{% block contenido %}
<section class="container mt-4 mb-3">
    {{ msj }}
    <div class="row">
        <div class="mb-4 col-md-6 col-xl-3">
          <div class="card border-success mb-3">
            <div class="card-header bg-transparent border-success">Horarios del {{ dia_letras }} {{ fecha }}</div>  
            <div class="card-body text-success botones">
              {% for hora in horarios%}
                <a href="{% url 'index_horaria' id=hora.1 %}"><button type="button" class="btn btn-outline-success boton">{{ hora.0 }}</button></a>
              {% endfor %}
            </div>
          </div>
        </div>
</section>
{% endblock %}