{% extends 'layout.html' %}
{% block contenido %}
<section class="container mt-4 mb-3">
    {{ msj }}
    <div class="row">
        <div class="mb-4 col-md-6 col-xl-6">
          <div class="card border-success mb-3">
            <span class="d-block p-2 bg-success text-white">{{ user.username }}</span>
            <div class="card-header bg-transparent border-success">Horarios del {{ dia_letras }} {{ fecha }}</div>  
            <div class="card-body text-success botones">
              {% for hora in horarios%}
                <a href="{% url 'index_horaria' id=hora.1 %}"><button type="button" class="btn btn-outline-success boton">{{ hora.0 }}</button></a>
              {% endfor %}
            </div>
          </div>
          <a href="{% url 'index_agenda' %}"><button type="button" class=" btn btn-outline-success"><i class="bi bi-arrow-left"> Agenda</i></button></a>
          
        </div>
    </div>

</section>
{% endblock %}