{% extends 'layout.html' %}
{% block contenido %}
<section class="container mt-4 mb-3">
  {% if messages %}
    {% for mensaje in messages%}
        <div class="alert alert-{{ mensaje.tags }}" role="alert">
           <h3>{{ user.first_name }}</h3> {{ mensaje }}
        </div>
    {% endfor %}
  {% endif %}
<div class="row">
    <div class="mb-4 col-md-6 col-xl-3">
        <div class="card border-success mb-3">
          <span class="d-block p-2 bg-success text-black">{{ user.username }}</span>
          <div class="card-header bg-transparent border-success">Anotados dia {{ dia_letra }} {{ dia_hora }} </div> <!--horario con back--> 
          <div class="card-body text-success botones">
            <table class="table ">
              <tbody>
                <thead>
                  <tr>
                    <th scope="col"> </th> <!--id alumno-->
                    <th scope="col"> </th> <!--Nombre del alumno-->
                    <th scope="col"> </th> <!--Accion de eliminar-->
                  </tr>
                </thead>
                <tr><td colspan="3">{{ msj }}</td></tr>
                {% for alumno in alumnos %}
                <tr>
                  <th scope="row"></th> <!--id-->
                  <td> {{ alumno.user__username}} </td> <!--Nombre-->
                  {% if alumno.user__id == user.id or user.is_staff %} 
                    <td> 
                      <form action="{% url 'borra_alumno' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="method_" value="DELETE">
                        <input type="hidden" name="item_grupo_id" value="{{ alumno.id }}">
                        {# alumno.id tiene el id del grupo ( grupo = relacion many to many turno_id <==> alumno_id ) #}
                        <input type="hidden" name="id_turno" value="{{ id_turno }}">
                      <button class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</button>
                      </form>
                    </td>
                  {% endif %}
                </tr>
                {% endfor %}
                {% if anotarme %}
                <tr><td colspan="3">
                  <form action="{% url 'agrega_alumno' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id_turno" value="{{ id_turno }}">
                    <input type="hidden" name="id_user" value="{{ user.id }}">
                    <button type="submit" class="btn btn-outline-dark">Anotarme</button>
                  </form>
                </td></tr>
                {% endif %}
              </tbody>
              
            </table>
            
          </div>
          <!-- <div class="card-footer bg-transparent border-danger">Footer</div> -->
        </div>

        <a href="{% url 'index_diario' fecha=dia_hora %}"><button type="button" class=" btn btn-outline-success"><i class="bi bi-arrow-left"> Atrás</i></button></a>

    </div>

</div>

</section>
{% endblock %}