{% extends 'layout.html' %}
{% block contenido %}
    <section class="container mt-4 mb-3">
        {{ msj }}
        <div class="row">
            <div class="mb-4 col-md-6 col-xl-3">
              <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">Agenda (Días c/hs. activos) </div> <!--Fecha con back-->
                <div class="card-body text-success botones">
                  {% for dia in dias %} 
                  <a href="{% url 'index_diario' fecha=dia.1 %}"><button type="button" class="btn btn-outline-success boton"> {{ dia.0 }} </button></a>{% endfor %}  
                </div>
              </div>
            </div>
    </section>
{% endblock %}