{% extends 'layout.html' %}
{% block contenido %}
    <section class="container mt-4 mb-3">  
        <div class="row">
            <div class="mb-4 col-md-6 col-xl-6">
              <div class="card border-danger mb-3">
                <span class="d-block p-2 bg-danger text-white">{{ user.username }}</span>
                {% if user.is_staff %}
                  <div class="card-header bg-transparent border-danger">Debes generar la agenda de la semana por favor !</div> <!--Fecha con back-->
                {% else %}
                  <div class="card-header bg-transparent border-danger">Lo sentimos, por favor ingresa más tarde </div> <!--Fecha con back-->
                {% endif %}
                <div class="card-body text-danger botones">
                  {{ msj }}  
              </div>
              </div>
            </div>
    </section>
{% endblock %}