{% extends 'layout.html' %}
{% block contenido %}
<section class="container mt-4 mb-3">
    {{ msj }}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email_id" class="form-label formColor">E-Mail:</label>
        <input class="form-control" id="email_id" aria-describedby="emailHelp" placeholder="email@server.tld" name="email">
    </div>
    <div class="mb-3">
        <label for="password_id" class="form-label formColor">Contraseña:</label>
        <input type="password" class="form-control" id="password_id" name="password" placeholder="Clave">
    </div>
    <button type="submit" class="btn btn-outline-success">Iniciar Sesión</button>
</form>
</section>
{% endblock %}